<h1>add celebrity</h1>

<form action="/celebrities//add-celebrity" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Billy Joe" name="name">
    <br>
    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" placeholder="plumber" name="occupation">
    <br>
    <label for="catchphrase">Catchphrase:</label>
    <input type="text" id="catchphrase" placeholder="It will work till it won't" name="catchphrase">
    <br>
    <button type="submit">Add Celebrity</button>


</form>